<div
  wire:loading
  class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-50 overflow-hidden bg-gray-700 opacity-75 flex flex-col items-center justify-center"
  *ngIf="isLoading"
>
  <div
    class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4"
  ></div>
  <h2 class="text-center text-white text-xl font-semibold">Loading...</h2>
  <p class="w-1/3 text-center text-white">
    This may take a few seconds, please don't close this page.
  </p>
</div>

<section
  class="antialiased text-gray-600 h-screen px-4"
  *ngIf="!isLoading"
>
  <div class="flex flex-col h-full">
    <div
      class="w-full max-w-4xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200"
    >
      <header class="px-5 py-4 border-b border-gray-100">
        <h2 class="font-semibold text-gray-800">
          CRIPTO <span class="text-xs text-gray-400">(USD)</span>
          <a
            href="https://github.com/mcasaccio/cripto/"
            target="_blank"
            title="LinkedIn: Matías Casaccio"
            class="float-right text-xs"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
              /></svg
          ></a>
          <a
            href="https://www.linkedin.com/in/mati-casaccio/"
            target="_blank"
            title="GitHub: m.casaccio"
            class="float-right text-xs mx-2"
            ><svg
              class="w-6 h-6 text-blue-500 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
              ></path></svg
          ></a>
        </h2>
      </header>

      <div class="p-3">
        <div class="overflow-x-auto">
          <div>
            <input
              type="text"
              (keyup)="searchCripto()"
              [(ngModel)]="searchText"
              placeholder="Search coin"
              class="my-5 ml-2 outline-none py-1 px-2 text-md border-2 rounded-md"
            />
          </div>

          <div
            class="text-center my-5 text-gray-500"
            *ngIf="isFiltered && filteredCriptoList.length == 0"
          >
            No results found
          </div>

          <table class="table-auto w-full">
            <thead
              class="text-xs font-semibold uppercase text-gray-400 bg-gray-50"
            >
              <tr>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">#</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Coin</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Price</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">Price change</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-center">24h volume</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-center">Last updated</div>
                </th>
              </tr>
            </thead>
            <tbody class="text-sm divide-y divide-gray-100">
              <ng-container
                *ngFor="let cripto of filteredCriptoList; let i = index"
              >
                <tr>
                  <td class="p-2 whitespace-nowrap">
                    <div class="text-left">{{ i + 1 }}</div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3">
                        <img
                          class="rounded-full"
                          src="{{ cripto.image }}"
                          width="40"
                          height="40"
                          alt="{{ cripto.name }}"
                        />
                      </div>
                      <div class="font-medium text-gray-800">
                        {{ cripto.name }}
                        <span class="font-semibold uppercase text-gray-400">{{
                          cripto.symbol
                        }}</span>
                      </div>
                    </div>
                  </td>

                  <td class="p-2 whitespace-nowrap">
                    <div class="text-left">
                      {{ cripto.current_price.toLocaleString() }}
                    </div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div
                      class="text-left font-medium"
                      [ngClass]="
                        cripto.market_cap_change_percentage_24h > 0
                          ? 'text-green-500'
                          : 'text-red-500'
                      "
                    >
                      {{
                        cripto.market_cap_change_percentage_24h.toLocaleString()
                      }}
                    </div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="text-center">
                      {{ cripto.total_volume.toLocaleString() }}
                    </div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="text-center">
                      {{ cripto.last_updated | date: "d/M/yy, h:mm a" }}
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
